@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font for Digital Clock */
@font-face {
  font-family: "Digital";
  src: local("Digital"), url("./assets/fonts/digital-7.ttf") format("opentype");
  font-weight: normal;
}

body {
  background-color: #f0f2f5;
}
a {
  text-decoration: none !important;
}
.rdt_TableHeadRow {
  background-color: #008080 !important;
  color: #ffffff;
  min-height: fit-content !important;
}
.rdt_TableCol {
  padding: 8px;
}
.rdt_TableCell {
  padding: 8px;
}
form {
  width: 100%;
}
input {
  outline-color: #008080;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 2px 5px;
  width: 100%;
}
form select {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 2px 5px;
  width: 100%;
}

/* For maping */
.leaflet-routing-container.leaflet-bar.leaflet-control {
  display: none;
}
