@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%; /* #f9f9f9 */
    --foreground: 0 0% 0%; /* #000000 */
    --muted: 220 10% 90%; /* #e5e7eb */
    --muted-foreground: 220 9% 50%; /* #6b7280 */
    --popover: 0 0% 100%; /* #ffffff */
    --popover-foreground: 0 0% 0%; /* #000000 */
    --border: 220 10% 80%; /* #d1d5db */
    --input: 220 10% 80%; /* #d1d5db */
    --card: 0 0% 100%; /* #ffffff */
    --card-foreground: 0 0% 0%; /* #000000 */
    --primary: 180 100% 25%; /* #008080 */
    --primary-foreground: 0 0% 100%; /* #ffffff */
    --secondary: 180 100% 25%; /* #008080 */
    --secondary-foreground: 0 0% 100%; /* #ffffff */
    --accent: 180 100% 25%; /* #008080 */
    --accent-foreground: 0 0% 100%; /* #ffffff */
    --destructive: 0 100% 50%; /* #ff0000 */
    --destructive-foreground: 0 0% 100%; /* #ffffff */
    --ring: 220 9% 30%; /* #374151 */
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 22% 13%; /* #1f2937 */
    --foreground: 0 0% 98%; /* #f9f9f9 */
    --muted: 220 22% 20%; /* #374151 */
    --muted-foreground: 220 9% 60%; /* #9ca3af */
    --accent: 220 15% 27%; /* #4b5563 */
    --accent-foreground: 0 0% 100%; /* #ffffff */
    --popover: 220 22% 13%; /* #1f2937 */
    --popover-foreground: 220 10% 90%; /* #e5e7eb */
    --border: 220 15% 27%; /* #4b5563 */
    --input: 220 15% 27%; /* #4b5563 */
    --card: 220 22% 13%; /* #1f2937 */
    --card-foreground: 0 0% 98%; /* #f9f9f9 */
    --primary: 180 100% 25%; /* #008080 */
    --primary-foreground: 0 0% 100%; /* #ffffff */
    --secondary: 180 100% 25%; /* #008080 */
    --secondary-foreground: 0 0% 100%; /* #ffffff */
    --destructive: 0 100% 50%; /* #ff0000 */
    --destructive-foreground: 0 0% 100%; /* #ffffff */
    --ring: 220 15% 27%; /* #4b5563 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased;
  }
}

/* Font for Digital Clock */
@font-face {
  font-family: "Digital";
  src: local("Digital"), url("./assets/fonts/digital-7.ttf") format("opentype");
  font-weight: normal;
}

body {
  background-color: #f0f2f5;
}
a {
  text-decoration: none !important;
}
.rdt_TableHeadRow {
  background-color: #008080 !important;
  color: #ffffff;
  min-height: fit-content !important;
}
.rdt_TableCol {
  padding: 8px;
}
.rdt_TableCell {
  padding: 8px;
}
form {
  width: 100%;
}
input {
  outline-color: #008080;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 2px 5px;
  width: 100%;
}
form select {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 2px 5px;
  width: 100%;
}

/* For maping */
.leaflet-routing-container.leaflet-bar.leaflet-control {
  display: none;
}
