.dt-layout-row {
  display: flex;
  justify-content: space-between;
}
.dt-paging.paging_full_numbers {
  display: flex;
  gap: 5px;
}
.dt-input {
  border: 1px solid #ccc;
}
button.dt-paging-button {
  border: 1px solid #ccc;
  border-radius: 6px;
}
.dt-info {
  font-size: 0.9rem;
}
.dt-length label {
  font-size: 0.9rem;
}
.card-body {
  padding: 0.8rem;
}
td.dt-empty {
  display: none;
}

/* React Data Table Component Table Header */
.rdt_TableHeadRow {
  /* background-color: #f8f9fa !important; */
  font-weight: 700;
}
.rdt_TableRow {
  font-weight: 500 !important;
}
.table-search-box {
  max-width: 100%;
  margin-bottom: 10px;
}
@media (min-width: 640px) {
  .table-search-box {
    max-width: 300px;
  }
}

.permission-review-modal ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.permission-review-modal ul li {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.permission-review-modal ul li p {
  margin: 0;
}
.permission-review-modal ul li p:first-child {
  font-weight: bold;
}

/* Driver Profile Photo */
.profile-photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  margin: 0 auto;
}

.profile-photo-container .profile-photo-label {
  cursor: pointer;
  position: relative;
}

.profile-photo-container .profile-photo-input {
  display: none; /* Hide the file input */
}

.profile-photo-container .profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.profile-photo-container .upload-text {
  font-size: 14px;
  color: #555;
}
@media (min-width: 640px) {
  .permission-review-modal ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 990px) {
  .permission-review-modal ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
